.footer {
  background-color: #f3f3f3;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 1rem 0;
  width: 100%;
  /*bottom: 0;
  position: end;
  */
  font-size: 0.9rem;
  font-family: 'Noto Sans KR', sans-serif;
  
}
