.navbar{
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 15px;
  margin-bottom: 0px;
  /*
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;*/
}


.logo{
  height:30px;
  width: auto;
  display: block;
  cursor: pointer;
}


.nav-links{
  display:flex;
  align-items: center;
  gap: 2rem;

}

/*
.login-link{
  margin-left: 180px;
}*/


.nav-links a{
  color: rgb(126, 126, 126);
  text-decoration: none;
  padding:0.3rem 0;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 550;
  font-size: 0.8rem;
  
}


/* Elimina el hover para el logo */
.logo-link:hover {
  background-color: transparent !important;
  cursor: pointer; /* Puedes dejar el cursor pointer si quieres */
}

/* Mantén el hover para los demás links */
.nav-links a:not(.logo-link):hover {
  /*background-color: #6b6b6b;*/
  color:rgb(68, 68, 68);
}

/* ✅ Estilo para link activo (página actual) */
.nav-links a.active {
  color: rgb(68, 68, 68);
}